<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <h1 class="text-capitalize mb-5 text-lg">Bảng giá</h1>
  
            <!-- <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">Department Details</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="section department-single">
      <div class="container">
          <div class="row">
              <div class="col-lg-8">
                  <div class="department-content mt-5">
                      <h3 class="text-md">{{priceList.title}}</h3>
                      <div class="divider my-4"></div>
                      <!-- <p>{{priceList.content}}</p> -->
                      <div [innerHTML]="createTrustedHtml(priceList.content)"></div>
                      <button (click)="datLich()" class="btn btn-main-2 btn-round-full">Đặt lịch hẹn<i class="icofont-simple-right ml-2  "></i></button>
                  </div>
              </div>
              <div class="col-lg-4">
                <div class="sidebar-widget schedule-widget mt-5">
                    <!-- <h5 class="mb-4">Chi phí</h5>

                    <ul class="list-unstyled">
                      <li class="d-flex justify-content-between align-items-center">
                        <a href="#">{{service.name}}</a>
                        <span>{{service.fee}}</span>
                      </li>
                    </ul> -->

                    <h5 class="mb-4">Liên hệ</h5>
                    <ul class="list-unstyled">
                      <li class="d-flex justify-content-between align-items-center">
                        <span href="#">Hotline</span>
                        <span>+84 913 914 930</span>
                      </li>
                      <li *ngFor="let clinic of listClinic" class="d-flex justify-content-between align-items-center">
                        <span href="#">{{clinic.address}}</span>
                        <span>{{clinic.phoneNumber}}</span>
                      </li>
                    </ul>
                </div>
            </div>
          </div>
      </div>
  </section>